header.header
  .menu
    .container
      .menu__top
        a.menu__top-logo.logo(href="/")
          .logo__text СТРОИТЕЛЬНАЯ КОМПАНИЯ
          img.logo__img(src="images/icons/logo.svg" alt="")

        ul.menu__top-info.menu-info
          li.menu-info__item
            span.menu-info__text Пишите нам:&nbsp;
            a.menu-info__link(href="#") domstroy-st@bk.ru
          li.menu-info__item
            span.menu-info__text Моск.обл. г.Ступино ул.Промышленная
          li.menu-info__item
            span.menu-info__text Пн-Сб 9:00-18:00, Вс - выходной

        .menu__top-phones.menu-phones
          a.menu-phones__item(href="#") +7 (495) 142-07-25
          a.menu-phones__item(href="#") +7 (977) 908-02-50

        .menu__top-buttons.menu-buttons
          .menu-buttons__btn.btn.btn-outlined(data-show-modal-6) Заказать звонок
          ul.menu-buttons__social.menu-social
            li.menu-social__item
              a.menu-social__link(href="#")
                img.menu-social__icon(src="images/icons/social/youtube.svg" alt="")
            li.menu-social__item
              a.menu-social__link(href="#")
                img.menu-social__icon(src="images/icons/social/instagram.svg" alt="inst")
            li.menu-social__item
              a.menu-social__link(href="#")
                img.menu-social__icon(src="images/icons/social/vk.svg" alt="")
            li.menu-social__item
              a.menu-social__link(href="#")
                img.menu-social__icon(src="images/icons/social/whatsapp.svg" alt="")
            li.menu-social__item
              a.menu-social__link(href="#")
                img.menu-social__icon(src="images/icons/social/telegram.svg" alt="")

        .menu__top-burger
          .burger

  .menu__middle
    .container
      .menu__middle-inner
        a.menu__middle-link.menu__middle-link--active(href="/") Главная
        a.menu__middle-link(href="/equipment.html") Комплектация
        a.menu__middle-link(href="/customer.html") Заказчику
        a.menu__middle-link(href="/dostavka.html") Доставка и сборка
        a.menu__middle-link(href="/our-works.html") Наши работы
        a.menu__middle-link(href="/") Контакты
  .menu__bottom
    .container
      .menu__bottom-inner
        a.menu__bottom-link(href="/catalog.html") Каталог домов
        a.menu__bottom-link(href="/catalog.html") Каталог бытовок
        a.menu__bottom-link(href="/catalog.html") Каталог беседок
        a.menu__bottom-link(href="/catalog.html") Каталог бань
        a.menu__bottom-link(href="/catalog.html") Каталог хоз. построек