@mixin section-title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.1rem;
}

@mixin section-title-2 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4rem;
}

@mixin section-title-3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.6rem;
}

@mixin section-title-4 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
}

@mixin big-title {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 5.6rem;
}

@mixin subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
  line-height: 2rem;
}

@mixin adaptive-menu-text {
  font-weight: 700;
  font-size: 2rem;
  font-family: Inter, sans-serif;
  line-height: 2rem;
}

@mixin adaptive-menu-phone {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: Inter, sans-serif;
}